.user-list {
	padding: 20px;
	width: 100%;
	h1 {
		font-size: 25px;
	}
	&__data {
		display: flex;
		flex-direction: column;
		gap: 21px;
		width: 100%;
	}
	&__length {
		margin-top: 5px;
		text-align: right;
	}
}
